\build\*.class
\build\classes\*.class
\build\classes\dk\*.class
\build\classes\dk\brics\*.class
\build\classes\dk\brics\automaton\*.class
\build\classes\lib\*.class
\build\classes\lib\dataTools\*.class
\build\classes\lib\dataTools\inputGenerator\*.class
\build\classes\lib\dataTools\problemAdder\*.class
\build\classes\lib\gui\*.class
\build\classes\lib\regularExpression\*.class
\build\classes\lib\regularExpression\util\*.class
\build\classes\lib\runDetails\*.class
\build\classes\lib\runTest\*.class
\build\classes\lib\userModule\*.class
\build\classes\programtester\*.class
\build\empty\*.class
\build\generated-sources\*.class
\build\generated-sources\ap-source-output\*.class
\build\test\*.class
\build\test\classes\*.class
\build\test\classes\lib\*.class
\build\test\classes\lib\inputGenratorTest\*.class
\build\test\classes\lib\runTestTemp\*.class
